@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F38321;
    --secondary-color: #333333;
    --tertiary-color: #2444BB;
    --white-color: #FFFFFF;
    --black-color: #000000;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #eeeeee;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
}

/* Hero Section */

.hero{
    background: url("img/hero2.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
}

/*  */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(9, 9, 9, 0.5);
    font-size: 20px;
  }

  nav img{
    width: 90px;
    margin-top: 5px;
  }
  
  .logo{
    margin-left: 5%;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
  }
  .logo_header{
    display: flex;
    margin-left: 2%;
  }
  
  .main_nav{
    display: flex;
    width: 40%;
    float: right;
    margin-right: 2%;
    justify-content: space-between;
    list-style: none;
  }
  .main_nav li{
    display: inline;
    color: #ffffff;
    display: flex;
    align-items: center;
  }
  .main_nav li:hover{
    background-color: #111111;
  }

  .main_nav li a{
    color: #ffffff;
  }

  .main_nav li a:hover{
    color: #F38321;
  }

  .navbar_toggle{
      display: none;
  }
/*  */

.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    padding: 20px;
    text-align: center;
}

.heading h1{
    font-size: 2.5em;
    margin: -200px 0 30px 0;
    text-shadow: 1px 1px var(--secondary-color);
}

.heading a{
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--black-color);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 48px 100px 0px;
}

.heading a:hover{
    background-color: var(--black-color);
    color: var(--primary-color);
    box-shadow: rgba(255, 255, 255, 0.075) 1px 10px 10px 1px;
}

.heading a i{
    margin-left: 5px;
}

.container .social{
    font-size: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.social i{
    color: var(--black-color);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 50%;
    margin: 5px;
    font-weight: bold;
}

.container .social i:hover{
    background-color: var(--black-color);
    color: var(--primary-color);
    box-shadow: rgba(255, 255, 255, 0.075) 1px 10px 10px 1px;
}

/* Product Page */

.products{
    width: 100%;
    text-align: center;
    padding: 20px;
}

.products h1{
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
}

.products .product-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 10px;
}

.product-list .product{
    /* position: relative; */
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.product-list .product:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}

.product-list .product img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.product-list .product h5{
    font-size: 1.1em;
    margin: 10px;
}

.main-product{
    grid-column: 1 / -1;
}

.main-product img{
    max-height: 200px;
}


/* Certificate Block */

.certificate-block{
    background-color: var(--secondary-color);
    background-image: url(img/block_decor2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 150px;
}

.certificate-block .quote{
    text-align: center;
    color: var(--white-color);
    font-weight: lighter;
    padding: 25px 10px 5px 10px;
}

.certificate-block .quote h2{
    text-shadow: 2px 2px var(--black-color);
}

.certificates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 25px;
}

.certificates .certificate{
    display: flex;
    justify-content: center;
    min-height: 50%;
    margin: 10px;
    border-radius: 10px;
}

.certificate img{
    width: 75%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}



/* About Page */

.about{
    width: 100%;
    /* min-height: 100vh; */
}

.about .about-heading{
    text-align: center;
}

.about-heading h1{
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
}

.about-heading p{
    font-style: italic;
    margin-bottom: 10px;
    margin-top: -10px;
}

.about .about-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.about-body .about-img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-body .about-img img{
    width: 75%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 10px;
}

.about-body .about-img h2{
    letter-spacing: 0.25em;
}

.about-body .about-img span{
    font-weight: 100;
    letter-spacing: 0.1em;
    
}

.about-body .about-text{
    width: 100%;
    padding: 20px;
}

.about-body .about-text h4{
    text-align: center;
    margin-bottom: 10px;
} 

.about-body .about-text p{
    text-align: justify;
    line-height: 1.25em;
    padding: 10px;
}

.about-body .about-text h5{
    text-align: center;
    font-style: italic;
    letter-spacing: 0.1em;
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--secondary-color);
}


/* Moto Block */

.our-moto{
    width: 100%;
    height: 200px;
    background-color: var(--secondary-color);
    background-image: url(img/block_decor2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moto h1{
    color: var(--white-color);
    text-align: center;
    font-size: 1.5em;
    text-shadow: 2px 2px var(--black-color);
}


/* Product Section Page */

.lighting, .wires, .fans, .gysers, .home_appliances, .winter_appliances, .iron{
    width: 100%;
    padding: 20px;
}

.lighting h1,
.wires h1,
.fans h1,
.gysers h1,
.home_appliances h1,
.winter_appliances h1,
.iron h1{
    font-size: 2em;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.lighting .item-list,
.wires .item-list,
.fans .item-list,
.gysers .item-list,
.home_appliances .item-list,
.winter_appliances .item-list,
.iron .item-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
}

.item-list .item{
    width: 95%;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--black-color);
    border-radius: 10px;
}

.item-list .item img{
    width: 100%;
    border-radius: 5px;
}
.item-list .item .name{
    font-weight: bold;
}
.item-list .item p{
    text-align: center;
    margin: 5px 1px;
    font-size: 0.75em;
}

.item-list .item p:last-child{
    list-style-type: circle;
}

.item-list .item p span{
    text-transform: lowercase;
    font-size: 0.9em;
}

.item-list .item p span:last-child{
    font-size: 0.8em;
}


/* Contact Us Page */

.contact{
    width: 100%;
    background-color: var(--secondary-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.contact .left{
    width: 100%;
    margin: 10px;
    padding: 20px;
}

.left .info{
    width: 100%;
}

.left .info p{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1em;
    word-spacing: 2px;
}

.contact-info a{
    font-style: italic;
    margin-left: 5px;
    color: var(--white-color);
    word-spacing: 2px;
    text-shadow: 0.5px 0.5px var(--tertiary-color);
}

.contact-info a:hover{
    color: var(--primary-color);
}

.contact-info  strong{
    color: var(--primary-color);
}

.contact-info  p{
    margin-bottom: 5px;
}

.left .info img{
    width: 20%;
}

.contact .right{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.right{
    width: 100%;
    margin: 10px;
}

.right .unit-one,
.right .unit-two{
    width: 75%;
    background-color: rgba(9, 9, 9, 0.5);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
}

.right .unit-one h3,
.right .unit-two h3{
    margin-bottom: 10px;
}

.right .unit-one a,
.right .unit-two a{
    color: var(--white-color);
}

.right .unit-one a:hover,
.right .unit-two a:hover{
    color: var(--primary-color);
}

/* Footer */

footer{
    height: 50px;
    background-color: var(--black-color);
    color: var(--white-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------------- */
/*                  Responsive Design                 */
/* -------------------------------------------------- */

/* Laptop Screen */

@media only screen and (min-width : 1008px) and (max-width : 1920px){

    .heading h1{
        font-size: 3.5em;
        margin: -200px 0 30px 0;
    }
    
    .products h1,
    .about h1{
        font-size: 3em;
    }

    .products .product-list{
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .product-list .product img{
        width: 100%;
        height: 82%;
        border-radius: 10px 10px 0 0;
    }

    .product-list .product h5{
        font-size: 1.3em;
        padding: 5px;
    }

    .main-product{
        grid-column: 1 / -3;
    }

    .main-product img{
        min-height: 82%;
    }

    .certificate img{
        width: 60%;
    }

    .certificate-block .quote h2{
        font-size: 2.5em;
    }

    .about .about-body{
        width: 100%;
        flex-direction: row;
        padding: 50px;
    }


    .about-heading p{
        font-size: 1.2em;
    }

    .about-body .about-text h4{
        font-size: 1.5em;
    } 
    .about-body .about-text p{
        font-size: 1.25em;
    } 
    .about-body .about-text h5{
        font-size: 1.5em;
        padding: 20px;
    } 

    .about-body .about-img img{
        width: 50%;
        margin: 20px;
    }

    .moto h1{
        font-size: 2.5em;
    }
    
    .lighting .item-list,
    .wires .item-list,
    .fans .item-list,
    .gysers .item-list,
    .home_appliances .item-list,
    .winter_appliances .item-list,
    .iron .item-list{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .item-list .item .name{
        font-size: 1.1em;
    }

    .item-list .item p span{
        text-transform: lowercase;
        font-size: 1.25em;
    }
    
    .item-list .item p span:last-child{
        font-size: 1em;
    }

    .contact{
        flex-direction: row;
    }

    .contact .left{
        text-align: left;
        margin-left: 100px;
    }

}

/* Tablet screen */

@media only screen and (min-width : 641px) and (max-width : 1007px){
    
    .products .product-list{
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .product-list .product img{
        width: 100%;
        height: 82%;
        border-radius: 10px 10px 0 0;
    }

    .main-product img{
        max-height: 250px;
    }

    .about-body .about-img img{
        width: 50%;
        margin: 20px;
    }

    .moto h1{
        font-size: 2em;
    }

    .item-list .item .name{
        font-size: em;
    }


}

/* Mobile Screen */

@media only screen and (max-width : 640px){

    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      padding-top: 2%;
      padding-bottom: 2%;
      background-color: #000000;
      font-size: 20px;
    }
  
    .main_nav{
      display: none;
    }
  
    .show_nav{
      padding-top: 2%;
      display: flex;
      width: 100vw;
      min-height: 90vh;
      background-color: var(--black-color);
      z-index: 99;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .main_nav li{
      width: 100%;
      height: 50px;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      padding: 10%;
    }
    .navbar_toggle {
      margin-left: 5%;
      margin-right: 5%;
      font-size: 30px;
      color: var(--white-color);
      background: transparent;
      border-color: transparent;
      transition: all 0.3s linear;
      cursor: pointer;
      display: block;
    }
    .logo_header{
      width: 100%;
      justify-content: space-between;
      margin-right: 2%;
    }


    .lighting, .wires, .fans, .gysers, .home_appliances, .winter_appliances, .iron{
        width: 100%;
        padding: 10px;
    }
    
  } 


  /* Scroll to top button */

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--black-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }

  #myBtn i{
      font-size: 30px;
  }
  
  #myBtn:hover {
    background-color: var(--primary-color);
    color: var(--black-color);
  }